@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

@layer components {
  .center {
    @apply flex justify-center items-center;
  }
  .stagger-letters {
    @apply overflow-hidden w-full;
  }
  .border-bottom {
    @apply before:absolute before:border-b before:border-gray400 before:bottom-0 before:left-0 md:before:-bottom-2 before:w-full;
  }
  .border-top {
    @apply before:absolute before:border-t -z-1 before:border-gray400 before:top-0 before:right-0 before:w-screen;
  }
  .border-right {
    @apply before:absolute before:border-t before:border-gray400 before:top-10 before:left-0 before:w-full;
  }
  .border-left {
    @apply before:border-b before:absolute before:bottom-0 md:before:bottom-2 before:w-full before:left-0 md:before:left-28;
  }
  .project-container {
    @apply w-full mt-14 center flex-col;
  }
  .project-section-container {
    @apply w-full px-5 py-2 center flex-col;
  }
  .factory-input-style {
    @apply w-full bg-transparent border rounded-full py-2 pl-5 border-green uppercase text-xs placeholder:text-gray400 outline-none;
  }
  .footer-input-style {
    @apply bg-transparent w-full pl-3 uppercase placeholder:text-gray400 outline-none;
  }
}

@layer utilities {
  .cursor-container h1:hover ~ .cursor {
    transform: scale(2);
  }

  .cursor {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 50px;
    pointer-events: none;
    /* transform: translateY(-150%) translateX(-50%); */
    mix-blend-mode: difference;
    background-color: white;
  }

  .lit-text {
    animation: lit 5s 2s linear infinite;
  }

  @keyframes lit {
    0%,
    18%,
    20%,
    50.1%,
    60%,
    65%,
    80%,
    90.1%,
    92% {
      color: #2cdc0079;
      text-shadow: none;
    }
    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100% {
      color: #2cdc00;
      text-shadow: 0 0 10px #2cdc00, 0 0 20px #2cdc00, 0 0 40px #2cdc00;
    }
  }
}
